{{ partial "header.html" . }}
<body class="{{ .Site.Params.themeColor }}">
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
  {{ partial "sidebar.html" . }}
  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
  content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
        <a href="/" title="Home">Jibin Jose</a>
        <small>personal notes</small>
        </h3>
      </div>
    </div>
    <div class="container content">
      <div class="page">
        <h1 class="page-title">{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </div>
    </div>
      <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    </body>
  </html>
