
<div class="navbar">
        <button type="button" class="navbar__trigger sidebar-toggle" title="Menu">
            XXXX</button>
         <div class="off-canvas">

<div class="sidebar-inner">
                    <div class="profile">
                        <div class="profile-logo">
                            <a href="/">
                                <img class="profile-logo-img" src="img/me.jpg" alt="awesome me">
                            </a>
                        </div>
                        <div class="profile-detail">
                            Product Developer @entri.me
                        </div>
                    </div>

<nav class="sidebar-nav">
    <a class="sidebar-nav-item active" href="#">Home</a>
    <a class="sidebar-nav-item" href="#">Blog</a>
    <a class="sidebar-nav-item" href="#">Projects</a>
    <a class="sidebar-nav-item" href="#">About</a>
    <a class="sidebar-nav-item" href="#">Contact</a>
  </nav>

         </div></div>
</div><!-- end of sidebar -->
