<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="profile">
      <div class="profile-logo">
        <a href="/">
          <img class="profile-logo-img" src="img/me.jpg" alt="awesome me">
        </a>
      </div>
      <div class="profile-detail">
        Product Developer @entri.me
      </div>
      <nav class="">
      </nav>
    </div>
    <!-- end of profile -->
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item active" href="#">Home</a>
    <a class="sidebar-nav-item" href="#">Blog</a>
    <a class="sidebar-nav-item" href="#">Projects</a>
    <a class="sidebar-nav-item" href="#">About</a>
    <a class="sidebar-nav-item" href="#">Contact</a>
  </nav>
  <div class="sidebar-item">
    <p>
      &copy; 2014. All rights reserved.
    </p>
  </div>
</div>
