<nav class="social-links">
  {{ with .Site.Params.social.twitter }}
  <a href="{{.}}" target="_blank" title="tweet me">
    <i class="fa-icon fa-twitter"></i>
    <span>Twitter
  </a>
  {{ end }}
  {{ with .Site.Params.social.google }}
  <a href="{{.}}" target="_blank">
    <i class="fa-icon fa-google"></i>
    <span>Google</span>
  </a>
  {{ end }}
  {{ with .Site.Params.social.facebook }}
  <a href="{{.}}" target="_blank">
    <i class="fa-icon fa-facebook"></i>
    <span>Facebook</span>
  </a>
  {{ end }}
  {{ with .Site.Params.social.github }}
  <a href="{{.}}" target="_blank" title="My github profile">
    <i class="fa-icon fa-github"></i>
    <span>Github</span>
  </a>
  {{ end }}
  {{ with .Site.Params.social.linkedIn }}
  <a href="{{.}}" target="_blank" title="My LinkedIn profile">
    <i class="fa-icon fa-linkedin"></i>
    <span>Linkedin</span>
  </a>
  {{ end }}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{.}}" target="_blank" title="Send me an email">
    <i class="fa-icon fa-email"></i>
    <span>Contact</span>
  </a>
  {{ end }}
</nav>
