<nav class="social-links">
  {{ with .Site.Params.social.twitter }}
  <a href="{{.}}" target="_blank">
    <i class="fa-icon fa-twitter"></i>
    Twitter
  </a>
  {{ end }}
  {{ with .Site.Params.social.google }}
  <a href="{{.}}" target="_blank">
    <i class="fa-icon fa-twitter"></i>
    Google
  </a>
  {{ end }}
  {{ with .Site.Params.social.facebook }}
  <a href="{{.}}" target="_blank">
    <i class="fa-icon fa-twitter"></i>
    Facebook
  </a>
  {{ end }}
  {{ with .Site.Params.social.github }}
  <a href="{{.}}" target="_blank">
    <i class="fa-icon fa-twitter"></i>
    Github
  </a>
  {{ end }}
  {{ with .Site.Params.social.linkedIn }}
  <a href="{{.}}" target="_blank">
    <i class="fa-icon fa-twitter"></i>
    Linkedin
  </a>
  {{ end }}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{.}}" target="_blank">
    <i class="fa-icon fa-email"></i>
    Contact
  </a>
  {{ end }}
</nav>
