    <div class="navbar">
        <button type="button" class="navbar__trigger sidebar-toggle" title="Menu">
            XXXX</button>
        <div class="off-canvas">
            <div class="scroll-wrapper">
                <div class="sidebar-inner">
                    <div class="profile">
                        <div class="profile-logo">
                            <a href="/">
                                <img class="profile-logo-img" src="me.jpg" alt="awesome me">
                            </a>
                        </div>
                        <div class="profile-detail">
                            Product Developer @entri.me
                        </div>
                        <nav class="">
                        </nav>
                    </div>
                    <!-- end of profile -->
                    <!-- side navbar -->


                    <div class="sidebar-nav">
                        <ul class="sidebar-nav-items">
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link" itemprop="url">
                                    <span class="nav-text">Home</span>
                                    <span class="nav-subtext">Where about is</span>
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link" itemprop="url">
                                    <span class="nav-text">Projects</span>
                                    <span class="nav-subtext">Some work samples</span>
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link" itemprop="url">
                                    <span class="nav-text">Blog</span>
                                    <span class="nav-subtext">Some of my wrintings</span>
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link" itemprop="url">
                                    <span class="nav-text">About</span>
                                    <span class="nav-subtext">Who I am</span>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link" itemprop="url">
                                    <span class="nav-text">Contact</span>
                                    <span class="nav-subtext">Get in touch</span>
                                </a>
                            </li>
                        </ul>
                    </div>





                    <!-- end of profile -->


                    <div class="sidebar-item">
                        <p>
                            © 2014. All rights reserved.
                        </p>
                    </div>
                </div>
                <!-- end of sidebar inner -->
            </div>
        </div>
    </div><!-- end of sidebar -->
